/* Style général pour le mode sombre */
body,
.viewer_lst,
.viewer_img img,
.comment_section,
.suggestions_section,
.episode_area,
footer,
.wcc_Editor__root {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

.viewer_img img {
  filter: brightness(80%) contrast(110%);
}

/* Correction de la couleur des liens */
a,
a:visited {
  color: #bb86fc !important;
}

/* Couleur des boutons */
button {
  background-color: #333 !important;
  color: #fff !important;
}

/* Style des sections commentaires et suggestions */
.comment_area,
.comment_section,
.suggestions_section,
.comment_section * {
  color: #e0e0e0 !important;
  background-color: #1f1f1f !important;
}

/* Texte dans les sections commentaires et suggestions */
.comment_area p,
.suggestions_section p,
.comment_area span,
.suggestions_section span {
  color: #e0e0e0 !important;
}

/* Zone episode_area */
.episode_area,
#bottomEpisodeList {
  background-color: #1f1f1f !important;
  color: #e0e0e0 !important;
}

/* Footer */
#footer {
  background-color: #222 !important;
  color: #ccc !important;
}

#footer a {
  color: #00ccff !important;
}

.foot_cont .txt {
  color: #ccc !important;
}

.foot_cont .btn_google,
.foot_cont .btn_ios {
  background-color: #333 !important;
  color: #fff !important;
}

.copyright,
.foot_logo {
  color: #ccc !important;
}

.bar {
  color: #555 !important;
}

/* Zone de notice */
.notice_area {
  background-color: #1f1f1f !important;
  color: #e0e0e0 !important;
}

.notice_area a,
.notice_area a:visited {
  color: #bb86fc !important;
}

.notice_area .subj {
  color: #e0e0e0 !important;
}

.notice_area .date {
  color: #aaaaaa !important;
}

/* Éditeur de commentaires */
.wcc_Editor__root,
.ArticleEditor_Editor_module__editor_content,
.ProseMirror {
  background-color: #1f1f1f !important;
  color: #e0e0e0 !important;
}

/* Texte de l'éditeur de commentaires */
.ProseMirror p,
.ProseMirror span {
  color: #e0e0e0 !important;
}
